<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>..:: LIBRARIA ::..</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/boot strap/4.5.0/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            $("#navBtn").click(function() {
                $(".main").toggleClass('animate');
            });
            $('#navBar').load("/navBar");
        });
    </script>

</head>

<body>
<div class="main">

    <div id="navBar"></div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-4 col-md-6 p-2">
                    <div class="card border-primary rounded-0">
                        <div class="card-header bg-primary rounded-0">
                            <h5 class="card-title text-white mb-1">Total Book</h5>
                        </div>
                        <div class="card-body">
                            <h1 class="display-4 font-weight-bold text-primary text-center">105</h1>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 p-2">
                    <div class="card border-success rounded-0">
                        <div class="card-header bg-success rounded-0">
                            <h5 class="card-title text-white mb-1">Total Users</h5>
                        </div>
                        <div class="card-body">
                            <h1 class="display-4 font-weight-bold text-success text-center">75</h1>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 p-2">
                    <div class="card border-danger rounded-0">
                        <div class="card-header bg-danger rounded-0">
                            <h5 class="card-title text-white mb-1">Issued Book</h5>
                        </div>
                        <div class="card-body">
                            <h1 class="display-4 font-weight-bold text-danger text-center">30</h1>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6 p-2">
                    <div class="card border-primary rounded-0">
                        <div class="card-header bg-primary rounded-0">
                            <h5 class="card-title text-white mb-1">Return Book</h5>
                        </div>
                        <div class="card-body">
                            <h1 class="display-4 font-weight-bold text-primary text-center">98</h1>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 p-2">
                    <div class="card border-success rounded-0">
                        <div class="card-header bg-success rounded-0">
                            <h5 class="card-title text-white mb-1">Published Posts</h5>
                        </div>
                        <div class="card-body">
                            <h1 class="display-4 font-weight-bold text-success text-center">33</h1>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 p-2">
                    <div class="card border-danger rounded-0">
                        <div class="card-header bg-danger rounded-0">
                            <h5 class="card-title text-white mb-1">Private Posts</h5>
                        </div>
                        <div class="card-body">
                            <h1 class="display-4 font-weight-bold text-danger text-center">16</h1>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6 p-2">
                    <div class="jumbotron rounded-0">
                        <h1 class="display-4">Hello World</h1>
                        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, recusandae maiores
                        </p>
                        <hr class="my-4">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, voluptatem ea similique ratione vero
                            mollitia accusantium! Eius amet minus dolorum sint odio ut ipsam temporibus necessitatibus blanditiis
                            quidem, iusto doloremque!</p>
                        <a href="#" class="btn btn-primary btn-lg rounded-0">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-6 p-2">
                    <div class="jumbotron rounded-0">
                        <h1 class="display-4">Hello World</h1>
                        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, recusandae maiores
                        </p>
                        <hr class="my-4">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, voluptatem ea similique ratione vero
                            mollitia accusantium! Eius amet minus dolorum sint odio ut ipsam temporibus necessitatibus blanditiis
                            quidem, iusto doloremque!</p>
                        <a href="#" class="btn btn-primary btn-lg rounded-0">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
